
* {
  background-color: rgba(108, 124, 89, 0);
  color: @foreground;

  border: none;
  border-radius: 15;
  min-height: 0;
  font-family: 'JetBrains Mono Nerd Font';
  font-size: 14px;
}

.modules-left {
  margin-left: 8px;
  background-color: rgba(108, 124, 89, 0.7);
}

.modules-right {
  background-color: rgba(108, 124, 89, 0.7);
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#cpu,
#battery,
#pulseaudio,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}


#bluetooth {
  margin-right: 17px;
}

#tray {
  margin-right: 20px;
  margin-left: 20px;
}
#network {
  margin-right: 13px;
}


tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  background-color: rgba(108, 124, 89, 0.7);
  margin-left: 8.75px;
  margin-right: 8.75px;
  padding: 0 10px;
}

.hidden {
  opacity: 0;
}

